<div class="container-fluid g-0">
  <!-- header -->
  <app-header></app-header>

  <!-- main content -->

  <main>
    <!-- Toolbar to add and search employees -->
    <div class="toolbar">
      <div class="add-employee">
        <button
          (click)="clickAddEmployee()"
          type="button"
          class="btn btn-outline-success btn-lg"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add Employees
        </button>
      </div>

      <div class="search-employees">
        <input
          type="text"
          name="search"
          class="form-control"
          placeholder="Search Employees"
          (input)="searchEmployees(($any($event.target).value))"
        />
      </div>
    </div>

  
        

    <!-- Area to display all the employees -->

    <div class="row mt-5" *ngIf="employees.length == 0">
      <div class="col text-center">
        <span class="text-secondary fs-2 fw-bold fst-italic"
          >There are no Employees Added!</span
        >
      </div>
    </div>
    
    <div class="employees black-border" *ngFor="let em of employeesToDisplay">
      <div class="row mt-4">
        <div class="col">
          <app-employee
            [employee]="em"
            (onRemoveEmployee)="removeEmployee($event)"
            (onEditEmployee)="editEmployee($event)"
          ></app-employee>
        </div>
      </div>
    </div>

    <div>
      <div class="pagination">
        <button
          class="btn btn-primary"
          [disabled]="currentPage === 1"
          (click)="previousPage()"
        >
          Previous
        </button> 
        <span>{{ currentPage }}</span>
      
        <button
          class="btn btn-primary"
          (click)="nextPage()"
        >
          Next
        </button>
      </div>
     </div>
  </main>
</div>

 <!-- Modal  -->
<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Enter Employee Information
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <!-- Personal Information -->
          <div class="row mt-2">
            <div class="col form-heading">
              <h6 class="text-secondary fst-italic">Personal Information</h6>
            </div>
          </div>
          <!-- First and Last Name -->

          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
                formControlName="first_name"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name"
                formControlName="last_name"
              />
            </div>
          </div>

          <!-- Email -->

          <div class="row w-75">
            <div class="col mt-3">
              <input
                type="email"
                name=""
                class="form-control"
                placeholder="E-mail"
                formControlName="email"
                [ngClass]="{ error: submitted && myForm['email'].errors }"
              />
            </div>
          </div>

          <div class="col mt-3">
            <input
              type="string"
              class="form-control"
              placeholder="Mobile"
              formControlName="mobile_number"
            />
          </div>

          <!-- job Information -->

          <div class="row mt-3">
            <div class="col form-heading">
              <h6 class="text-secondary fst-italic">Job Information</h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input
                type="number"
                class="form-control"
                placeholder="Job Experience (yrs)"
                formControlName="experience"
              />
            </div>

            <div class="col">
              <input
                type="number"
                class="form-control"
                placeholder="Salary(LPA)"
                formControlName="salary"
              />
            </div>
          </div>
        </form>

        <!-- *ngIf="showAdd" -->
        <div class="modal-footer">
          <button
            *ngIf="showAdd"
            id="addBtn"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="addEmployee()"
          >
            Insert
          </button>

          <!-- [disabled]="!employeeForm.valid" -->
          <!-- *ngIf="showUpdate" -->

          <button
            *ngIf="showUpdate"
            id="updateBtn"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="updateEmployee()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div>
    <ul>
        <li *ngFor= "let em of emp" >
          {{em.first_name}}  {{em.last_name}} --- {{em.email}} --- {{em.mobile_number}} ---  {{em.jobExperience}} --- {{em.salary}}
        </li>
    </ul>
</div> -->
